<div class="template-form-container">
  <h2> Membership Form</h2>
  <div class="my-form-container">
    <form #myForm="ngForm" (ngSubmit)="submitForm(myForm)" class="my-form">
      <mat-form-field>
        <input matInput placeholder="Name" [(ngModel)]="formData.name" name="name" required>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="email" placeholder="Email" [(ngModel)]="formData.email" name="email" required>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Membership Date</mat-label>
        <input matInput [matDatepicker]="picker1" [(ngModel)]="formData.doms" name="doms">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
      </mat-form-field>

      <div class="submit-button">
        <button mat-flat-button color="primary" type="submit">Submit</button>
      </div>
    </form>
  </div>

</div>

<div *ngIf="validForm == ''; else showTable" class="invalidform">
  <h2>Member List</h2>
  <p>There is no registered member to display</p>
</div>

<ng-template #showTable>
  <div class="validform">
    <h2>Member List</h2>
    <table border="1">
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Date</th>
        <th>Action</th>

      </tr>
      <tr *ngFor="let users of validForm; let id=index">
        <td>{{id}}</td>
        <td>{{users.name}}</td>
        <td>{{users.email}}</td>
        <td>{{users.doms | date: 'dd/MM/yyyy' }}</td>
        <td><button mat-flat-button color="primary" (click)="clear(id)">Delete</button></td>
      </tr>
    </table>
  </div>
</ng-template>