.post-control-container {
  display: inline-block;
  width: 100%;

  h2 {
    margin: 15px 0px;
    text-align: center;
  }

  .form-container {
    width: 50%;
    margin: 0 auto;

    .post-control-form {
      display: inline-flex;
      flex-direction: column;
      width: 80%;

      .button-container {
        margin: 10px 0px;
        text-align: center;
      }
    }
  }
}