<div class="first-blk">
<h3>NgIf with age less than 30</h3>

  <ul *ngFor="let person of people">
    <li *ngIf="person.age < 30">
      {{person.name}} ({{person.age}})
    </li>
  </ul>
</div>
<hr>
<div class="second-blk">
  <h3>NgIf with color</h3>
  <div class="ifColor">
    <ul *ngFor="let person of people">
      <li *ngIf="person.country == 'UK'"  [style.color]="'green'">{{person.name}}({{person.country}})</li>
      <li *ngIf="person.country == 'USA'"  [style.color]="'blue'">{{person.name}}({{person.country}})</li>
      <li *ngIf="person.country == 'HK'"  [style.color]="'red'">{{person.name}}({{person.country}})</li>
      <li *ngIf="person.country !== 'USA' && person.country !== 'UK' && person.country !== 'HK'" [style.color]="'yellow'">{{person.name}} ({{person.country}})</li>
    </ul>
  </div>
</div>
<hr>
<div class="third-blk">
  <h3>NgSwitch with color</h3>
   <div class="switchColor" *ngFor="let person of people">
     <ul [ngSwitch]="person.country">
      <li *ngSwitchCase="'UK'" [style.color]="'green'">{{person.name}}({{person.country}})</li>
      <li *ngSwitchCase="'USA'" [style.color]="'blue'">{{person.name}}({{person.country}})</li>
      <li *ngSwitchCase="'HK'" [style.color]="'red'">{{person.name}}({{person.country}})</li>
      <li *ngSwitchDefault [style.color]="'yellow'">{{person.name}}({{person.country}})</li>
     </ul>
   </div>

</div>
