<mat-toolbar>
  <button mat-icon-button>
    <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
  </button>
  <span>Assignment Day-21</span>
  <button mat-button routerLink="/member/register">
    Day11
  </button>
  <button mat-button routerLink="/day12">
    Day12
  </button>
  <button mat-button routerLink="/day15">
    Table
  </button>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav mode="side" #sidenav [(opened)]="opened">
    <mat-list>
      <mat-list-item>
        <a routerLink="/member/register" routerLinkActive="active"> Day11</a>
      </mat-list-item>
      <mat-list-item>
        <a routerLink="/day12" routerLinkActive="active"> Day12</a>
      </mat-list-item>
      <mat-list-item>
        <a routerLink="/day15" routerLinkActive="active"> Table</a>
      </mat-list-item>
    </mat-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>