
<div class="container">
  <table>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Address</th>
      <th>Description</th>
      <th>Country</th>
      <th>Gender</th>
      <th>date</th>

    </tr>
    <tr *ngFor="let users of uTable">
      <td>{{users.name}}</td>
      <td>{{users.email}}</td>
      <td>{{users.phone}}</td>
      <td>{{users.address}}</td>
      <td>{{users.description}}</td>
      <td>{{users.country}}</td>
      <td>{{users.gender}}</td>
      <td>{{users.dob}}</td>
    </tr>
  </table>
</div>